.header{
    width: 100%;
    height: 70px;
    background-color: #193d75;
    margin-top: 50px;
    padding: 20px 70% 20px 20px;
    display: flex;
    align-items: center;
}
.result-box{
    display: flex;
}
.list{
    width: 40%;
}
.google-map{
    width: 1000px;
    height: 700px;
}
.card{
    border: 1px solid #0195bc;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
}
.active{
    background: #0095bc7a;
    color: white;
}